<?xml version="1.0" encoding="utf-8" ?>
<dotnetnuke version="3.0" type="Module">
	<folders>
		<folder>
			<name>HouseMenu</name>
			<description>HouseMenu is an easy-to-use CSS-based menu with many built-in options.</description>
			<version>01.02.01</version>
	        <resourcefile>styles.zip</resourcefile>
			<modules>
				<module>
					<friendlyname>HouseMenu</friendlyname>
					<controls>
						<control>
							<title>HouseMenu</title>
							<src>HouseMenu.ascx</src>
							<type>View</type>
							<helpurl>http://houseofnuke.com</helpurl>
						</control>
						<control>
							<key>Settings</key>
							<title>HouseMenu Settings</title>
							<src>HouseMenuOptions.ascx</src>
							<iconfile>icon_HouseMenu_32px.gif</iconfile>
							<type>Edit</type>
							<helpurl>http://houseofnuke.com</helpurl>
						</control>
					</controls>
				</module>
			</modules>
			<files>
				<file>
					<name>HouseMenu.ascx</name>
				</file>
				<file>
					<name>HouseMenuOptions.ascx</name>
				</file>
				<file>
					<name>TimRolands.DNN.Modules.HouseMenu.dll</name>
				</file>
				<file>
					<name>icon_HouseMenu_32px.gif</name>
				</file>
				<file>
					<name>module.js</name>
				</file>
				<file>
					<name>ReadMe.txt</name>
				</file>
				<file>
				<path>App_LocalResources</path>
					<name>HouseMenu.ascx.resx</name>
				</file>
				<file>
				<path>App_LocalResources</path>
					<name>HouseMenuOptions.ascx.resx</name>
				</file>
			</files>
		</folder>
	</folders>
</dotnetnuke>
