<?xml version="1.0" encoding="utf-16"?>
<EventQueueConfig>
  <PublishedEvents>
    <Event>
      <EventName>Application_Start</EventName>
      <Subscribers>137ec0ca-6156-4824-b001-aac8aaffbcfc</Subscribers>
    </Event>
  </PublishedEvents>
  <EventQueueSubscribers>
    <Subscriber>
      <ID>137ec0ca-6156-4824-b001-aac8aaffbcfc</ID>
      <Name>DNN Core</Name>
      <Address />
      <Description />
      <PrivateKey>0A93A82038F042B9CC795A1A42DE8B3D</PrivateKey>
    </Subscriber>
  </EventQueueSubscribers>
</EventQueueConfig>
