<dotnetnuke version="3.0" type="Module">
  <folders>
    <folder>
      <name>Adsense</name>
      <friendlyname>Google Adsense</friendlyname>
      <foldername>Adsense</foldername>
      <modulename>Adsense</modulename>
      <description>Allows you to create Google Adsense ads on your site</description>
      <version>01.00.01</version>
      <businesscontrollerclass>
      </businesscontrollerclass>
      <modules>
        <module>
          <friendlyname>Adsense</friendlyname>
          <cachetime>1200</cachetime>
          <controls>
            <control>
              <src>DesktopModules/Adsense/Adsense.ascx</src>
              <type>View</type>
            </control>
            <control>
              <key>Edit</key>
              <title>Setup Google Adsense</title>
              <src>DesktopModules/Adsense/EditAdsense.ascx</src>
              <type>Edit</type>
            </control>
          </controls>
        </module>
      </modules>
      <files>
	<file>
          <name>01.00.01.txt</name>
        </file>
        <file>
          <path>App_LocalResources</path>
          <name>Adsense.ascx.resx</name>
        </file>
        <file>
          <path>App_LocalResources</path>
          <name>EditAdsense.ascx.resx</name>
        </file>
        <file>
          <path>Providers\DataProviders\SqlDataProvider</path>
          <name>01.00.01.SqlDataProvider</name>
        </file>
        <file>
          <path>Providers\DataProviders\SqlDataProvider</path>
          <name>Uninstall.SqlDataProvider</name>
        </file>
        <file>
          <name>Adsense.ascx</name>
        </file>
        <file>
          <name>Adsense.ascx.vb</name>
        </file>
        <file>
          <name>EditAdsense.ascx</name>
        </file>
        <file>
          <name>EditAdsense.ascx.vb</name>
        </file>
      </files>
    </folder>
  </folders>
</dotnetnuke>